<IfModule mod_rewrite.c>
    RewriteEngine On

    # Allow requests for existing files and directories to be served as is
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirect all requests to api.php
    RewriteRule ^(.*)$ api.php [QSA,L]

</IfModule>
